/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #eb7072; 
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

/* Títulos */
.destaque {
    color: white; 
    text-align: center;
}

h1 {
    color: #5f545c; 
    text-align: center;
}

h2 {
    color: #f5ba90; 
    text-align: center;
}


p {
    color: #f5e2b8; 
    text-align: center;
    margin: 10px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #a2caa5; 
    text-align: center;
    margin: 10px 0;
}



footer {
    background-color: #5f545c; /* Color 1 */
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    color: #f5e2b8; /* Color 4 */
}

.inov{
    color: #a2caa5;
}

.home{
    color: cadetblue;
}

#minha-imagem {
    display: block; /* Permite o uso de margin para centralização */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 900px; /* Torna as bordas redondas */
    max-width: 350px; /* Define um tamanho máximo (opcional) */
    height: auto; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease; /* Suaviza a transformação */
}

#icones {
    display: block;            /* Faz a imagem ser tratada como um bloco */
    margin-left: auto;         /* Margem automática à esquerda */
    margin-right: auto;        /* Margem automática à direita */
    border-radius: 900px;      /* Bordas redondas */
    max-width: 10%;          /* Tamanho máximo da imagem */
    height: auto;              /* Mantém a proporção */
    transition: transform 0.3s ease; /* Suaviza a transformação */
}

#minha-imagem:hover {
    transform: translateY(-10px); /* Move a imagem 10px para cima */
}